html, body {
	padding: 0;
	margin : 0;
	overflow-x: hidden;
	background: #d9d9d9;
}

#profile-bar {
	display: block;
    width: 100%;
    height: 230px;
    /* background: #9E9E9E; */
    background-image: slategray;
    background-color: #544b4ba3;
    border-radius: 20px;
    /* opacity: 0.5; */
    /* padding: 2%;*/
	text-shadow: 3px 3px 3px black;
	    margin-bottom: 20px;
}

#profile-image-container {
	float: left;
    /* background: red; */
    height: 100%;
    width: 250px;
    opacity: 1;
    /* z-index: 100; */
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
    /* border-right-color: red; */
    border-right-width: 10px;
    /* border-right: solid #2196F3; */
}

#profile-image-container img {
	height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-top: 15px;
    box-shadow: 0px 0px 8px black;
}

#profile-name-container {
	float: left;
	/*background: green;*/
	height: 100%;
	width: 20%;
}

#profile-name-container h1{
	font-size: 60px;
    font-family: monospace;
    margin: 0;
    color: #4DD0E1;
}

#profile-link-container {
	float: right;
    /* background: blue; */
    height: 100%;
    width: 30%;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#profile-link-container div {
	margin: 10px;
}
#profile-link-container img {
	width: 40px;
    height: 40px;
    vertical-align: middle;
	margin-right: 10px;
}

.section-break {
	display: flex;
}

.section-header {
	display: inline-block;
	margin-left: 25px;
}

.section-header h2 {
	display: inline-block;
    font-family: sans-serif;
    font-size: xx-large;
    color: #3F51B5;
    text-shadow: 2px 2px 2px #00BCD4;
}

.section-seperator {
	background: #2196F3;
    /* width: 100%; */
    flex-grow: 1;
    margin: auto;
    height: 10px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.skill-title {
	text-align: end;
    /* margin-right: 20px; */
    padding: 5px;
}

.skill-title-hover {
	text-shadow: 2px 2px 5px green;
}

.skill-selected {
	text-shadow: 1px 1px 4px #212121;
    font-weight: 900;
}

#resume-container {
	width: 85%;
    margin: auto;
    padding: 20px;
    border: 4px solid #9E9E9E;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(../img/vert-back.png);
	box-shadow: 0px 0px 15px 1px black;
}

.project-hidden {
	height: 0px;
}

.gantt-rects {
	opacity: 0.5;
}

.exp-selected {
	fill: red;
}

.exp-highlighted {
	/*stroke: yellow;*/
	/*stroke-width: 5px;*/
	opacity: 1;
}

.exp-detail-container {
    display: flex;
	margin-left: 50px;
    margin-right: 50px;
}

.exp-detail-container h3{
	    color: black;
    font-weight: 900;
    font-size: xx-large;
    text-shadow: 0px 0px 3px #03A9F4;
}

.exp-loc-container {
	display: inline-block;
	float: right;
	text-align: center;
	margin: auto;
	margin-left: 40px;
}

.exp-info-container {
	display: inline-block;
	flex-grow: 1;
	text-align: justify;
	font-family: sans-serif;
	font-size: large;
}

#nirma-info th {
	text-align: inherit;
    width: 150px;
}

#asu-info th {
	text-align: inherit;
    width: 150px;
}

#hobbies-award-container img {
	width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-right: 30px;
}

#skill-header-container {
	padding-left: 50px;
    padding-right: 30px;
	font-family: sans-serif;
    text-shadow: 0px 0px 2px #03A9F4;
}

#skill-header-container h4{
	display: inline-block;
    width: 32%;
    text-align: center;
}

#academic-project-container {
	margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
	font-family: sans-serif;
	font-size: large;
}

#academic-project-container h4 {
	font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0px 0px 2px #03A9F4;
}

.tooltip {
	background: white;
	padding: 10px;
	border: 2px solid black;
	box-shadow: 0px 0px 4px #03A9F4;
}
.tooltip small {
	font-size: 10px;
}
